
img{
  border-style:groove;
  border-width: 1px;
  border-color: #000033;
  border-radius: 4px;
}
tr{
  border-top: 4px double #000033;
  border-left: 2px solid #000033;
  border-right: 2px solid #000033;
  max-width: 15%;
  color:white;
}
tbody{
  font-size: 20px;
}
th{
  text-align: center;
  border-bottom: 2px solid #000033;
}
#bannerLeft{
  background-image: url(images/iceThree.jpeg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 7%;
  background-repeat:repeat-y;
}
#bannerRight{
  background-image: url(images/iceThree.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 7%;
  background-repeat:repeat-y;
}
.blueBorder{
  border-style:groove;
  border-width: 4px;
  border-color:white;
  padding: 10px;
  border-radius: 10px;
}
.blackBorderOne{
  border-style:groove;
  border-width: 4px;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
}
.blackBorderTwo{
  border-style:groove;
  border-width: 4px;
  border-color: #000033;
  padding: 10px;
  border-radius: 10px;
  font-family: serif;
}
.blackBorderSmall{
  border-style: solid;
  border-width: 2px;
  border-color: #99e6ff;
  border-radius: 4px;
}
.tableTitle{
  font-size: 20px;
  /*text-shadow: 1px 0px 3px #FFFF00;*/
}
.jumboBox{
  background-color: #00001a;
  font-family: serif;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
}
.yellowText{
  color: white;
}
.yellowBox{
  background-color:  #00001a;
  color: white;
}
.yellowShadow{
  text-shadow: none;
}
.redText{
  color: #99e6ff;
}
.creamBox{
  background-image: url("images/polarTwo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.greyBox{
  background-color: rgba(100,100,100,0.7);
  background-size: cover;
  color: white;
}
