img{
  border-style:groove;
  border-width: 1px;
  border-color:  #333300;
  border-radius: 4px;
}
tr{
  border-top: 4px double #333300;
  border-left: 2px solid #333300;
  border-right: 2px solid #333300;
  max-width: 15%;
  color: black;
}
th{
  text-align: center;
}
#bannerLeft{
  background-image: url(images/forest.jpeg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 7%;
  background-repeat:repeat-y;
}
#bannerRight{
  background-image: url(images/forest.jpeg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 7%;
  background-repeat:repeat-y;
}
.blueBorder{
  border-style:groove;
  border-width: 4px;
  border-color:#000066;
  padding: 10px;
  border-radius: 10px;
}
.blackBorderOne{
  border-style:groove;
  border-width: 4px;
  border-color: #333300;
  padding: 10px;
  border-radius: 10px;
}
.blackBorderTwo{
  border-style:groove;
  border-width: 4px;
  border-color: #333300;
  padding: 10px;
  border-radius: 10px;
}
.blackBorderSmall{
  border-style: solid;
  border-width: 2px;
  border-color: #333300;
  border-radius: 4px;
}
.tableTitle{
  font-size: 20px;
  /*text-shadow: 1px 0px 3px #FFFF00;*/
}
.jumboBox{
  background-color: #333300;
  border-bottom: 4px solid #0d1a00;
  border-top: 4px solid #0d1a00;
}
.yellowText{
  color: #bbbb77;
}
.yellowBox{
  background-color:  #bbbb77;
  color: black;
}
.yellowShadow{
  text-shadow: 1px 0px 3px #bbbb77;
}
.redText{
  color: #c1ff80;
}
.creamBox{
  background-color: #ffffcc;
  background-image: none;
}
.greyBox{
  background-color: #e6ffcc;
  color:black;
}
